@model BlackSys.Models.Shift

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
<div class="col-md-12">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-green">
                <i class="icon-pin font-green"></i>
                <span class="caption-subject bold uppercase">Shift</span>
            </div>
            <div class="actions">               
                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body form">    
    <div class="form-body">		
	<div class="form-group  margin-top-20">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BranchID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShiftCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShiftCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShiftName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShiftName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShiftInTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShiftInTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MercyTimeIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MercyTimeIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShiftOutTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShiftOutTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MercyTimeOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MercyTimeOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EffectiveDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpireDate)
        </dd>

    </dl>


</div>
</div>
</div>
</div>
</div>
</div>
	<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShiftId }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" }) 
</p>
