@model BlackSys.Models.VariableAllowance

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>VariableAllowance</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        @Html.HiddenFor(model => model.EmployeeID)

        @Html.HiddenFor(model => model.AllownceID)

        <div class="form-group">
            @Html.LabelFor(model => model.AllowanceAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AllowanceAmount)
                @Html.ValidationMessageFor(model => model.AllowanceAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeBankAccount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmployeeBankAccount)
                @Html.ValidationMessageFor(model => model.EmployeeBankAccount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SalaryBankAccount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SalaryBankAccount)
                @Html.ValidationMessageFor(model => model.SalaryBankAccount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
