@model IEnumerable<BlackSys.Models.VariableAllowance>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowanceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowanceAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeBankAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalaryBankAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActiveStatus)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AllowanceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AllowanceAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeBankAccount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalaryBankAccount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActiveStatus)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>
