@using BlackSys.Helpers
@model BlackSys.Models.ViewModels.PurchaseOrderViewModel

@{
    ViewBag.Title = "CreatePurchaseOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreatePurchaseOrder</h2>

@using (Html.BeginForm("CreatePurchaseOrder", "Requisition", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PurchaseOrderViewModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        @*<div class="form-group">
            @Html.LabelFor(model => model.PurchaseID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PurchaseID)
                @Html.ValidationMessageFor(model => model.PurchaseID)
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.RequisitionDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.RequisitionDate)
                @Html.ValidationMessageFor(model => model.RequisitionDate)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.PurchaseDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PurchaseDate, new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.PurchaseDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.product, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.product)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Specification, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Specification, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Specification)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Quantity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BranchID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.branch, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.branch)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remarks, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Remarks)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ApprovalQuantity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ApprovalQuantity, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ApprovalQuantity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ApprovalRemarks, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ApprovalRemarks, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ApprovalRemarks)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="CreatePurchaseOrder" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
